* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Norse";
    src: url("Norse-Bold.otf") format("opentype");
}

body {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.sidebar {
    flex: 1;
    position: relative;
}

.sidebar>img {
    height: 100vh;
}

.logo > p {
    position: absolute;
    width: 100%;
    margin-top: 50%;
    background: rgba(0, 0, 0, 0.438);
    font-family: "Norse";
    font-size: 6em;
    text-align: center;
    padding: 30px;
    color: white;
}

.logo > p::before {
    content: "";
    display: block;
    position: absolute;
    background: url("odin-lined.png") no-repeat;
    background-size: 1em;
    height: 2em;
    width: 1em;
    right: 65%;
    top: 10%;
}

.credit > p {
    position: absolute;
    bottom: 0%;
    width: 100%;
    text-align: center;
    color: white;
}

.credit > p > a {
    color: white;
}

.content-wrapper {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.heading {
    padding: 80px 120px 20px 30px;
    font-size: 1.3em;
    font-weight: bold;
    background: #eeeeee;
    flex: 1;
}

.form {
    padding: 30px;
    flex: 1;
}

form > legend {
    font-size: 1.5em;
}

.flex-wrapper {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: left;
}

.flex-wrapper > div > label,
.flex-wrapper > div > input {
    display: block;
}

label {
    color: #303;
    font-weight: 500;
    margin-top: 20px;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    line-height: 1.5;
    width: 100%;
}

input:focus {
    appearance: none;
    border: 1px solid blue;
    box-shadow: 4px 2px 2px lightblue;
    outline: none;
}

.error:invalid {
    border: 1px solid red;
    position: relative;
}

.error:invalid + span::before {
    content: "*Password is required";
    color: red;
    position: absolute;
    font-size: 0.8em;
}

#register_btn {
    background-color: #596D48;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    font-size: 0.8em;
    font-weight: bold;
    box-shadow: 4px 2px 2px rgba(0, 0, 0, 0.3);
}

.footer {
    padding: 30px;
    flex: 2;
    background: #eeeeee;
}

.footer > p > a {
    color: #596D48;
    text-decoration: none;
}